@import "common-styles.css";
@import "slider.css";

@import "game/minesweeper.css";

.main {
    position: relative;
}

.main__window {
    position: absolute;
    left: 0;
    top: 0;
    padding: 40px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;

    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
}

.main__window_active {
    opacity: 1;
    pointer-events: all;
}

.main__sliders {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__header {
    font-size: 40pt;
}

.main__caption {
    font-size: 20px;
    text-align: center;
}

.main__slider:not(:last-child) {
    margin-bottom: 30px;
}

.main__ruleset {
    font-size: 12pt;
    font-weight: 400;
    max-width: 500px;
}

.main__rules {
    display: none;
}

.main__rules_active {
    display: inline;
}

.main__resign {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 15pt;
}
