@import "common-styles.css";
@import "slider.css";

@import "game/minesweeper.css";
@import "game/anti-crossword.css";

.main {
    width: 100%;
    height: 100vh;
    position: relative;
}

.main__window {
    position: absolute;
    left: 0;
    top: 0;
    padding: 40px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;

    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
}

.main__window_active {
    opacity: 1;
    pointer-events: all;
}

.main__window:not(.main__window_active) {
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.main__sliders {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.main__slider {
    max-width: 100%;
}

.main__window_modal {
    z-index: 10;
    background-color: color-mix(in srgb, var(--c0) 80%, transparent);
}

.main__header {
    font-size: 40pt;
}

.main__caption {
    font-size: 20px;
    text-align: center;
}

.main__slider:not(:last-child) {
    margin-bottom: 30px;
}

.main__ruleset {
    font-size: 12pt;
    font-weight: 400;
    max-width: 500px;
}

.main__rules {
    display: none;
}

.main__rules_active {
    display: inline;
}

.main__to-home {
    font-size: 15pt;
    align-self: start;
}
